body {
    background-color: #121212;
    color: #e5e5e5;
}

#cover {
    background-color: #555;
    background-blend-mode: overlay;
    background-image: url(sagum.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    margin-bottom: 40px;
    padding-top: 20vw;
    padding-bottom: 0.5ex;
}

#cover h1 {
    font-size: 64px;
    font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif sans-serif;
    margin-top: 0px;
}

#cover h2 {
    font-size: 32px;
    font-family: 'Lato Light', Arial, sans-serif;
    font-variant-caps: all-small-caps;
    font-weight: light;
    margin-bottom: 0px;
    margin-left: 3px;
}

.cover-text-background {
    background-color: #a06;
    mix-blend-mode: color-dodge;
    border-radius: 4px;
    border-top-right-radius: 100%;
    padding-left: 1em;
    padding-bottom: 2px;
    margin-bottom: -4ex;
}

#test {
    margin-bottom: 20px;
}

#test .col {
    background-color: #202020;
    border: 2px solid #aaa;
    border-bottom: 0px;
    border-top: 0px;
    border-radius: 8px;
    padding: 5px 20px;
}

#main-row h1 {
    font-family: 'Century Gothic';
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

#main-row h2 {
    font-family: 'Century Gothic';
    font-size: 36px;
}

#menu {
    background-color: #202020;
    border-radius: 5px;
}

#menu ul {
    padding: 15px;
}

#menu li {
    color: #a06;
    font-size: 24px;
    font-family: 'Lato Light';
    font-weight: bold;
    list-style-type: square;
}

#menu h1 {
    text-align: left;
}

#article .section {
    margin-bottom: 4ex;
}

#article p {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 2em;
}